body {
    background-color: RGB(29, 161, 243);
    font-family: $roboto;
}

.home {
    @include center;
    text-align: center;

    &__coming-soon {
        font-weight: bold;
        font-size: 1.2em;
        color: #fff;
    }

    &__image {
        width: 250px;
        height: 270px;
        margin: 20px 0 20px 0;
        background-image: url("./images/lycansgaming.png");
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__social {
        margin: 20px 0 0 0;
        display: flex;
        justify-content: center;

        &__instagram {
            background-image: url("./images/instagram.png");
            @include button-social-media;
        }

        &__twitch {
            background-image: url("./images/twitch.png");
            @include button-social-media;
        }

        &__twitter {
            background-image: url("./images/twitter.png");
            @include button-social-media;
        }
    }

    &__contact {
        margin: 20px 0 0 0;
        color: #fff;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
